<div class="modal-content">
    <form 
    autocomplete="off" 
    id="VehiculoForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Ficha Vehiculo</h5>
      <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      

        <div class="container">
            <div class="card animate__animated animate__fadeIn">
                <div class="card-header">
                  <div class="row">
                    <div class="col-6 col-md-6">
                    N° Despacho
                    <strong> </strong>
                  </div>
                    <div class="col-4 col-md-4">
                      Fecha hoy
                      <strong> 25-08-2022 </strong>
                    </div>
                    <div class="col-2 col-md-2">
                      <span class="float-right"> <strong>Estado: </strong> <span class="badge rounded-pill bg-success"> as</span></span>
                    </div>
                  </div>
                   
                </div>
                <div class="card-body">
                    
                  <div  class="row mb-4">
                        <div class="col-8 col-md-8">
                            <h6 class="mb-2">Razon Social:</h6>
                            <div>Rut: </div>
                            <div>Giro: </div>
                            <div>Dirección:</div>
                            <div>Comuna: Viña del mar</div>
                         
                        </div>
    
                        <div class="col-4 col-md-4">
                          <div>Ciudad: Valparaiso</div>
                          <div>Email: test@gmail.com</div>
                          <div>Contacto: +56 9 4587 5241</div>
                          <div>Fecha Emisión: 25-08-2022</div>
                        
                      </div>
    
                    </div>
    
                    <div class="table-responsive-sm">
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-sm-5">
                        </div>
    
                        <div class="col-lg-4 col-sm-5 ml-auto">
                           
    
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
   
  

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" >Confirmar</button>
      <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cerrar</button>
    </div>
   </form>
  </div>
