<div class="modal-content">
    <form 
    autocomplete="off" 
    id="TarifaForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Direcciones Cliente (nombre)</h5>
      <button type="button" class="btn-close" (click)="cerrarModal()" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      
        <form
        autocomplete="off" 
        id="tClienteForm"
        [formGroup]="DirClienteForm"
        (ngSubmit)="guardarDireccion()">
        
        <div class="row">
         <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-md-3 col-lg-3">
                    <label for="exampleFormControlSelect1">Región</label>
                    <select class="form-select" 
                    formControlName="region_id"
                    (change)="getComunas($event.target)">
                    <option value="0">Seleccione Región</option>
                    <option *ngFor="let item of regiones"
                    [value]="item.region_id">{{item.nombre}}</option>
                    </select>
              </div>

              <div class="form-group col-md-3 col-lg-3">
                <label for="exampleFormControlSelect1">Comuna</label>
                <select class="form-select" 
                formControlName="comuna_id">
                <option value="0">Seleccione Comuna</option>
                <option *ngFor="let item of comunas" 
                value="{{item.comuna_id}}">{{item.nombre}}</option>
                </select>
          </div>

              <div class="form-group col-md-3 col-lg-3">
                <label for="inputtipo">Dirección</label>
                <input type="text" 
                class="form-control" 
                placeholder="Dirección"
                formControlName="direccion">  
               </div>


               <div class="form-group col-md-3 col-lg-3">
                <label for="inputtipo">Descripción</label>
                <input type="text" 
                class="form-control" 
                placeholder="Descripcion"
                formControlName="descripcion">  
               </div>

            </div> 

            <div class="row">   
                <div class="form-group offset-md-9 col-md-3 col-lg-3">
                    <br>
                  <button *ngIf="ocultarRegistro" type="submit" class="btn btn-success" >Agregar Direccion</button>
                  </div>
            </div>
          
          </div>
     
          
          </div>

           
          </form>
          <br><br>
        

            <table class="table table-bordered">
                <thead>
                    <tr>
                     
                        <th  scope="col">Región</th>
                        <th  scope="col">Comuna</th>
                        <th  scope="col">Dirección</th>
                        <th  scope="col">Descripción</th>
                        <th  scope="col">Acciones</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let item of direcciones" >
                   
                        <td>{{item.rnombre}}</td>
                        <td>{{item.ccomuna}}</td>
                        <td>{{item.direccion}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>
                          <button 
                          type="button" 
                          class="btn btn-danger"
                         (click)="deleteDireccion(item.direccion_id)"
                          ><i class="fa-solid fa-eraser"></i></button>
                        </td>
                      
                        
                    </tr>
      
                </tbody>
            </table>

      
       
         
   

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"  (click)="cerrarModal()"  data-bs-dismiss="modal">Cerrar</button>
    </div>
   </form>
  </div>

