
    <div class="container-fluid px-2">
      <h1 class="mt-4">PreFacturación</h1>
      <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a routerLink="dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">PreFacturación</li>
      </ol>



<div class="card mb-4">
<div class="card-header">
    <i class="fas fa-table me-1"></i>
   PreFacturación
</div>

<div class="card-body">


    <br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th  scope="col">N° Despacho</th>
                <th  scope="col">Descripcion</th>
                <th  scope="col">Tipo</th>
                <th  scope="col">Peso</th>
                <th  scope="col">Fecha retiro</th>
                <th  scope="col">Fecha entrega</th>
                <th  scope="col">Puerto Devolución</th>
                <th  scope="col">Dirección Entrega</th>
                <th  scope="col">Estado</th>
                <th  scope="col">Acciones</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let item of detalles  | paginate:{itemsPerPage: 5, currentPage: p}">
                <td>{{ item.guia}}</td>
                <td>{{ item.descripcion}}</td>
                <td>{{ item.tipo}}</td>
                <td>{{ item.peso}}</td>
                <td>{{ item.fecha_retiro}}</td>
                <td>{{ item.fecha_entrega}}</td>
                <td>{{ item.pname}}</td>
                <td>{{ item.dname}}</td>
                <td>{{ item.estado}}</td>
                <td>
                  <div 
                  class="btn-group" 
                  role="group" aria-label="Button group with nested dropdown">

                  <button 
                  type="button" 
                  class="btn btn-outline-info"
                  data-bs-toggle="modal"
                  data-bs-target="#factura"
                    (click)="goToLoadModal(true,item.detalle_id,item.idClient,item.estado,item.guia)"
                  >PreFactura</button>
                </div>
            </td>
            </tr>

        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"
    previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
    
<br>

</div>
</div>
  
  
  
    <!-- Modal -->
<div class="modal fade" id="factura" tabindex="-1" aria-labelledby="costosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <app-modal-prefactura
        [idDetails]="idDetalle"
        [idClient]="idClient"
        [Estado]="Estado"
        *ngIf="ocultarModalFactura" 
        (cerrar)="goToLoadModal($event,0,0,'',0)"
        ></app-modal-prefactura>
    </div>
  </div>


  <div class="modal fade" id="detalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Guia N° {{FormText}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          

          <br><br>
          <table class="table table-bordered">
            <thead>
                <tr>
                 
                    <th  scope="col">Descripcion</th>
                    <th  scope="col">tipo</th>
                    <th  scope="col">peso</th>
                    <th  scope="col">fecha retiro</th>
                    <th  scope="col">tarjeton</th>
                    <th  scope="col">fecha entrega</th>
                    <th  scope="col">Dev. Puerto</th>
                    <th  scope="col">Direccion</th>
                  
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let detalle of detalles">
               
                    <td>{{detalle.descripcion}}</td>
                    <td>{{detalle.tipo}}</td>
                    <td>{{detalle.peso}}</td>
                    <td>{{detalle.fecha_retiro}}</td>
                    <td>{{detalle.tarjeton}}</td>
                    <td>{{detalle.fecha_entrega}}</td>
                    <td>{{detalle.pname}}</td>
                    <td>{{detalle.dname}}</td>
                    
                  
                    
                </tr>

            </tbody>
        </table>
        </div>


        <div class="modal-footer">
         
        </div>
      </div>
    </div>
  </div>
  </div>