

    <div class="container-fluid px-2">
      <h1 class="mt-4">Despachos</h1>
      <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a routerLink="dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Despachos</li>
      </ol>

        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
           Formulario Registro
        </div>
          <div class="card-body">

        <form
        autocomplete="off" 
        id="Despachoform"
        [formGroup]="despachoForm">
            <div class="row">
              <div class="form-group col-md-2 col-lg-2">
                  <label for="inputGuia">Guia</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="Despacho.numero"
                  formControlName="guia">
              </div>

              <div class="form-group col-md-3 col-lg-3">
                <label for="inputDescripcion">Descripcion</label>
                <input 
                type="text" 
                class="form-control"
                [(ngModel)]="Despacho.descripcion"
                formControlName="descripcion">  
               </div>
 
              <div class="form-group col-md-3 col-lg-3">
                <label for="inputnave">Nave</label>
                <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="Despacho.nave" 
                formControlName="nave">
              </div>

              <div class="form-group col-md-4 col-lg-4">
                <label for="inputPuerto">Puerto</label>
                <select 
                class="form-select" 
                [(ngModel)]="Despacho.puerto_id"
                formControlName="puerto">
                  <option value="0">Seleccione Puerto</option>
                  <option  
                  *ngFor="let puerto of puertos" 
                  [selected]="puerto.puerto_id === ngSelectPuerto"
                  value="{{puerto.puerto_id}}"
                  >{{puerto.nombre}}</option>
                </select>
              </div>
            
            </div>
           
            <div class="row">

            <div class="form-group col-md-3 col-lg-3">
              <label for="SelectFormConductor">Conductor</label>
              <select  
              class="form-select" 
              [(ngModel)]="Despacho.conductor_id"
              formControlName="conductor">
                <option value="0">Seleccione Conductor</option>
                <option  
                *ngFor="let conductor of conductores" 
                [selected]="conductor.conductor_id === ngSelectConductor"
                value="{{conductor.conductor_id}}"
                >{{conductor.nombre}}</option>
              </select>
            </div>

            <div class="form-group col-md-3 col-lg-3">
              <label for="SelectFormCliente">Cliente</label>
              <select  
               class="form-select"
               [(ngModel)]="Despacho.cliente_id"
               formControlName="cliente">
                <option value="0">Seleccione Cliente</option>
                <option  
                *ngFor="let cliente of clientes"
                [selected]="cliente.cliente_id === ngSelectCliente"
                value="{{cliente.cliente_id}}"
                >{{cliente.nombre}}</option>
              </select>
            </div>

            <div class="form-group col-md-3 col-lg-3">
              <br>
            <button *ngIf="ocultarRegistro" type="button" class="btn btn-success" (click)="crearDespacho()">Crear guia</button>
            <div *ngIf="ocultarEditar">
            <button  type="button" class="btn btn-primary" (click)="actualizaDespacho()">Editar</button>
            &nbsp;
            <button  type="button" class="btn btn-danger" (click)="cancelarUpdate()">Cancelar</button>
            </div>
            </div>

            </div>

          </form>
          
        </div>
      </div>
        
          <br>
          <br>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
               Despachos
            </div>
            
            <div class="card-body">

                <input type="text"
                class="form-control col-lg-3"
                placeholder="Buscar guia por descripcion" 
                #txtbuscar
                (keyup)="buscarDespacho(txtbuscar.value)"/>
                <br>
                <br>


              <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th  scope="col">Guia</th>
                            <th  scope="col">Descripcion</th>
                            <th  scope="col">nave</th>
                            <th  scope="col">Puerto</th>
                            <th  scope="col">Conductor</th>
                            <th  scope="col">Cliente</th>
                            <th  scope="col">Estado</th>
                            <th  scope="col">Acciones</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let despacho of despachos | paginate:{itemsPerPage: 5, currentPage: p}">
                            <td>{{ despacho.numero}}</td>
                            <td>{{ despacho.descripcion}}</td>
                            <td>{{ despacho.nave}}</td>
                            <td>{{ despacho.Puertonombre}}</td>
                            <td>{{ despacho.cname}}</td>
                            <td>{{ despacho.cliname}}</td>
                            <td *ngIf="despacho.estado == 'Finalizado'"><span class="badge bg-success" >{{ despacho.estado}}</span></td>
                            <td *ngIf="despacho.estado == 'Proceso'" ><span class="badge bg-warning">{{ despacho.estado}}</span></td>
                            <td>
                              <div 
                              class="btn-group" 
                              role="group" aria-label="Button group with nested dropdown">
                              <button 
                              type="button" 
                              class="btn btn-outline-secondary"
                              data-bs-toggle="modal"
                              data-bs-target="#detalle"
                              (click)="goToLoadModal(true,despacho.despacho_id,despacho.Cliente.cliente_id)">Detalle</button>
                             

                              <button *ngIf="despacho.estado == 'Proceso'"
                              type="button" 
                              class="btn btn-outline-success"
                              (click)="finalizarDespacho(despacho)">Finalizar</button>
                         
                              <button 
                              data-bs-toggle="tooltip" 
                              data-bs-placement="top"
                              title="Editar"
                              type="button" 
                              class="btn btn-primary"
                              (click)="editarDespacho(despacho)"><i class="fa-solid fa-pen-to-square"></i></button>
                              
                              <button 
                              data-bs-toggle="tooltip" 
                              data-bs-placement="top"
                              title="Eliminar"
                              type="button" 
                              class="btn btn-danger"
                              (click)="eliminarDespacho(despacho)"><i class="fa-solid fa-eraser"></i></button>
                            </div></td>
                        </tr>

                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                
  <br>
            </div>
        </div>
    </div>


 
     <div class="modal fade" id="detalle" tabindex="-1" aria-hidden="true" >
       <div class="modal-dialog  modal-xl">
        <app-modal-detalle   
          *ngIf="ocultarModalDetalle" 
          [idDetails]="idDetalle" 
          [idCliente]="idCliente" 
          (cerrar)="goToLoadModal($event,0,0)">
        </app-modal-detalle>
       </div>
    </div>
  
