

    <div class="container-fluid px-2">
        <h1 class="mt-4">Despachos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"></li>
        </ol>

        <form
        autocomplete="off" id="despachoform">
            <div class="row">
              <div class="form-group col-md-2 col-lg-2">
                  <label for="inputEmail4">Guia</label>
                  <input type="text" class="form-control" id="guia" name="guia" [(ngModel)]="Despacho.numero">
              </div>

              <div class="form-group col-md-3 col-lg-3">
                <label for="inputPassword4">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="Despacho.descripcion">  
               </div>
 
              <div class="form-group col-md-3 col-lg-3">
                <label for="inputAddress">Nave</label>
                <input type="text" class="form-control" id="nave" name="nave" [(ngModel)]="Despacho.nave" >
              </div>

              <div class="form-group col-md-4 col-lg-4">
                <label for="exampleFormControlSelect1">Puerto</label>
                <select class="form-select" id="puerto" name="puerto"  [(ngModel)]="Despacho.puerto_id">
                  <option value="0">Seleccione Puerto</option>
                  <option  *ngFor="let puerto of puertos" 
                  [selected]="puerto.puerto_id === ngSelectPuerto" value="{{puerto.puerto_id}}">{{puerto.nombre}}</option>
                </select>
              </div>
            
            </div>
           
            <div class="row">

                
            <div class="form-group col-md-3 col-lg-3">
              <label for="exampleFormControlSelect1">Conductor</label>
              <select  class="form-select" id="conductor" name="conductor"  [(ngModel)]="Despacho.conductor_id">
                <option value="0">Seleccione Conductor</option>
                <option  *ngFor="let conductor of conductores" 
                [selected]="conductor.conductor_id === ngSelectConductor" value="{{conductor.conductor_id}}">{{conductor.nombre}}</option>
              </select>
            </div>

            <div class="form-group col-md-3 col-lg-3">
              <label for="exampleFormControlSelect1">Cliente</label>
              <select  class="form-select" id="cliente" name="cliente" [(ngModel)]="Despacho.cliente_id">
                <option value="0">Seleccione Cliente</option>
                <option  *ngFor="let cliente of clientes"
                [selected]="cliente.cliente_id === ngSelectCliente" value="{{cliente.cliente_id}}">{{cliente.nombre}}</option>
              </select>
            </div>

            <div class="form-group col-md-3 col-lg-3">
              <br>
            <button *ngIf="ocultarRegistro" type="button" class="btn btn-success" (click)="crearDespacho()">Crear guia</button>
            <div *ngIf="ocultarEditar">
            <button  type="button" class="btn btn-primary" (click)="actualizaDespacho()">Editar</button>
            &nbsp;
            <button  type="button" class="btn btn-danger" (click)="cancelarUpdate()">Cancelar</button>
            </div>
            </div>

            </div>

          </form>
        
          <br>
          <br>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
               Despachos
            </div>
            
            <div class="card-body">

                <input type="text"
                class="form-control col-lg-3"
                placeholder="Buscar guia por descripcion" 
                #txtbuscar
                (keyup)="buscarDespacho(txtbuscar.value)"/>
                <br>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th  scope="col">Guia</th>
                            <th  scope="col">Descripcion</th>
                            <th  scope="col">nave</th>
                            <th  scope="col">Puerto</th>
                            <th  scope="col">Conductor</th>
                            <th  scope="col">Cliente</th>
                            <th  scope="col">Estado</th>
                            <th  scope="col">Detalle</th>
                            <th  scope="col">Acciones</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let despacho of despachos | filtro:page:buscar">
                            <td>{{ despacho.numero}}</td>
                            <td>{{ despacho.descripcion}}</td>
                            <td>{{ despacho.nave}}</td>
                            <td>{{ despacho.Puertonombre}}</td>
                            <td>{{ despacho.cname}}</td>
                            <td>{{ despacho.cliname}}</td>
                            <td *ngIf="despacho.estado == 'Finalizado'"><span class="badge bg-success">{{ despacho.estado}}</span></td>
                            <td *ngIf="despacho.estado == 'Proceso'"><span class="badge bg-warning">{{ despacho.estado}}</span></td>
                            <td>
                              <button 
                              type="button" 
                              class="btn btn-success"
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                              (click)="CargaDetalle(despacho.despacho_id,despacho.Cliente.cliente_id,despacho.numero)">Ingresar Detalle</button>

                            </td>
                            <td><div 
                              class="btn-group" 
                              role="group" aria-label="Button group with nested dropdown">
                              <button 
                              type="button" 
                              class="btn btn-primary"
                              (click)="editarDespacho(despacho)">Editar</button>
                              <button 
                              type="button" 
                              class="btn btn-danger"
                              (click)="eliminarDespacho(despacho)">Eliminar</button>
                            </div></td>
                        </tr>

                    </tbody>
                </table>

                
  <br>
  <button class="btn btn-primary"
   (click)="prevPage()"> Anterior</button>
  &nbsp;
  <button class="btn btn-primary"
  (click)="nextPage()"
  [disabled]="(despachos | filtro:page:buscar).length === 0"> Siguiente</button>
            </div>
        </div>
    </div>


  
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Guia N° {{FormText}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CierreGuia()"></button>
          </div>
          <div class="modal-body">
            <form
            autocomplete="off" id="despachoform">
                <div class="row">
                  <div class="form-group col-md-4 col-lg-4">
                      <label for="inputEmail4">Cod Contenedor/Detalle</label>
                      <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="Detalle.descripcion">
                  </div>
    
                  <div class="form-group col-md-3 col-lg-3">
                    <label for="inputPassword4">tipo</label>
                    <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="Detalle.tipo">  
                   </div>
     
                  <div class="form-group col-md-2 col-lg-2">
                    <label for="inputAddress">peso</label>
                    <input type="text" class="form-control" id="peso" name="peso" [(ngModel)]="Detalle.peso" >
                  </div>
    
                  <div class="form-group col-md-3 col-lg-3">
                    <label for="exampleFormControlSelect1">Fecha Retiro</label>
                    <input type="text" class="form-control" id="fechar" name="fechar" [(ngModel)]="Detalle.fecha_retiro" >
                  </div>
                
                </div>
               <br>
                <div class="row">

                  <div class="form-group col-md-3 col-lg-3">
                    <label for="exampleFormControlSelect1">Tarjeton</label>
                    <input type="text" class="form-control" id="tarjeton" name="tarjeton" [(ngModel)]="Detalle.tarjeton" >
                  </div>


                  <div class="form-group col-md-3 col-lg-3">
                    <label for="exampleFormControlSelect1">Fecha entrega</label>
                    <input type="text" class="form-control" id="fechae" name="fechae" [(ngModel)]="Detalle.fecha_entrega" >
                  </div>

                  <div class="form-group col-md-3 col-lg-3">
                    <label for="exampleFormControlSelect1">Puerto Devolucion</label>
                    <select class="form-select" id="puertod" name="puertod"  [(ngModel)]="Detalle.puerto_id">
                      <option value="0">Seleccione Puerto</option>
                      <option  *ngFor="let puerto of puertos" 
                      [selected]="puerto.puerto_id === ngSelectPuerto"
                      value="{{puerto.puerto_id}}">{{puerto.nombre}}</option>
                    </select>
                  </div>


                  <div class="form-group col-md-3 col-lg-3">
                    <label for="exampleFormControlSelect1">Direcciones</label>
                    <select class="form-select" id="direccion" name="direccion"  [(ngModel)]="Detalle.direccion_id">
                      <option value="0">Seleccione Direccion</option>
                      <option *ngFor="let direccion of direcciones"
                      [selected]="direccion.direccion_id === 0"
                      value="{{direccion.direccion_id}}">{{direccion.direccion}}</option>
                    </select>
                  </div>
    
               
    
                </div>

                <div class="row">
                  <div class="form-group col-md-3 col-lg-3">
                    <br>
                  <button *ngIf="ocultarRegistro" type="button" class="btn btn-success" (click)="crearDetalle()">Agregar detalle</button>
                  <div *ngIf="ocultarEditar">
                  <button  type="button" class="btn btn-primary" (click)="actualizaDespacho()">Editar</button>
                  &nbsp;
                  <button  type="button" class="btn btn-danger" (click)="cancelarUpdate()">Cancelar</button>
                  </div>
                  </div>
                </div>
    
              </form>

            <br><br>
            <table class="table table-bordered">
              <thead>
                  <tr>
                   
                      <th  scope="col">Descripcion</th>
                      <th  scope="col">tipo</th>
                      <th  scope="col">peso</th>
                      <th  scope="col">fecha retiro</th>
                      <th  scope="col">tarjeton</th>
                      <th  scope="col">fecha entrega</th>
                      <th  scope="col">Dev. Puerto</th>
                      <th  scope="col">Direccion</th>
                      <th  scope="col">Acciones</th>
                  </tr>
              </thead>
              
              <tbody>
                  <tr *ngFor="let detalle of detalles">
                 
                      <td>{{detalle.descripcion}}</td>
                      <td>{{detalle.tipo}}</td>
                      <td>{{detalle.peso}}</td>
                      <td>{{detalle.fecha_retiro}}</td>
                      <td>{{detalle.tarjeton}}</td>
                      <td>{{detalle.fecha_entrega}}</td>
                      <td>{{detalle.pname}}</td>
                      <td>{{detalle.dname}}</td>
                      <td>
                        <button 
                        type="button" 
                        class="btn btn-danger"
                        (click)="EliminarGuia(detalle.detalle_id)">Eliminar Guia</button>
                      </td>    
                  </tr>

              </tbody>
          </table>
          </div>


          <div class="modal-footer">
           
          </div>
        </div>
      </div>
    </div>

    