
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Inicio</div>
                    <a class="nav-link" routerLink="/dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" routerLink="despachos">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-box"></i></div>
                        Despachos
                    </a>
                    <a class="nav-link" routerLink="cliente">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                        Clientes
                    </a>
                    <a class="nav-link" routerLink="conductor">
                        <div class="sb-nav-link-icon"><i class="fa-regular fa-id-card"></i></div>
                        Conductor
                    </a>
                    <a class="nav-link" routerLink="vehiculos">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-fast"></i></div>
                        Vehiculos
                    </a>

               

                    <div class="sb-sidenav-menu-heading">Supervision</div>
                   <a class="nav-link" routerLink="facturas">
                         <div class="sb-nav-link-icon"><i class="fa-solid fa-file-invoice-dollar"></i></div>
                        PreFacturas
                    </a>
                    <a class="nav-link" routerLink="facturacion">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-file-invoice-dollar"></i></div>
                       Facturación
                   </a>
                  
                    <div class="sb-sidenav-menu-heading">Administrar</div>
                    <a class="nav-link" routerLink="usuarios">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                        Usuarios
                    </a>

                    <a class="nav-link" routerLink="tarifa">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                        Tarifas
                    </a>
                
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small"></div>
               
            </div>
        </nav>
    </div>
