
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    
                    <div *ngIf="ocultaInicio" class="sb-sidenav-menu-heading">Inicio</div>
                    
                    <a *ngFor="let item of modulosD" 
                    class="nav-link puntero" 
                    routerLink="/{{item.nombre}}">
                        <div class="sb-nav-link-icon"><i class={{item.icons}}></i></div>
                        {{item.nombre}}
                    </a>
                    

                    <div *ngIf="ocultaSupervisor" class="sb-sidenav-menu-heading">Supervision</div>
                    <a *ngFor="let item of modulosS" 
                    class="nav-link puntero" 
                    routerLink="/{{item.nombre}}">
                        <div class="sb-nav-link-icon"><i class={{item.icons}}></i></div>
                        {{item.nombre}}
                    </a>

               
                    <div *ngIf="ocultaAdministrador" class="sb-sidenav-menu-heading">Administrador</div>
                    <a *ngFor="let item of modulosA" 
                    class="nav-link puntero" 
                    routerLink="/{{item.nombre}}">
                        <div class="sb-nav-link-icon"><i class={{item.icons}}></i></div>
                        {{item.nombre}}
                    </a>


                </div>
            
            </div>
            <div class="sb-sidenav-footer">
                <div class="small"></div>
        
            </div>
        </nav>
    </div>
