<div class="container-fluid px-2">
    <h1 class="mt-4">Tarifas</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a routerLink="dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Tarifas</li>
    </ol>

      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
         Formulario Registro
      </div>
        <div class="card-body">

        <form
      autocomplete="off" 
      id="TarifaForm"
      [formGroup]="tarifasForm"
      (ngSubmit)="createTarifa()">
          <div class="row">
            <div class="form-group col-md-2 col-lg-2">
                <label>Nombre</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Nombre"
                formControlName="nombre">
               
                 
            </div>
          
            <div class="form-group col-md-3 col-lg-3">
              <label>Descripcion</label>
              <input 
              type="text" 
              name="descripcion"
              class="form-control"
              placeholder="Descripción"
              formControlName="descripcion">  
             </div>

            <div class="form-group col-md-3 col-lg-3">
              <label for="inputnave">Regla</label>
              <input 
              type="text" 
              class="form-control" 
              placeholder="Regla"
              formControlName="regla">
            </div>

          </div>
         
          <div class="row">

            <div class="form-group col-md-3 col-lg-3">
              <label for="SelectFormConductor">Costo de la tarifa</label>
              <input 
              type="text" 
              class="form-control" 
              placeholder="Ingresar precio costo de la tarifa"
              formControlName="costo">
            </div>

          <div class="form-group col-md-3 col-lg-3">
            <label for="SelectFormConductor">Valor Cliente Interno</label>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Precio para clientes internos"
            formControlName="valor_interno">
          </div>

          <div class="form-group col-md-3 col-lg-3">
            <label for="SelectFormCliente">Valor Cliente externo</label>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Precio para clientes externos"
            formControlName="valor_externo">
          </div>

          <div class="form-group col-md-3 col-lg-3">
            <br>
          <button *ngIf="ocultarRegistro" type="submit" class="btn btn-success" >Guardar</button>
          <div *ngIf="ocultarEditar" >
          <button  type="button"  class="btn btn-primary" >Editar</button>
          &nbsp;
          <button  type="button" (click)="cancelUpdate()" class="btn btn-danger">Cancelar</button>
          </div>
          </div>

          </div>

        </form>
        
      </div>
    </div>
      
        <br>
        <br>
      
      <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
             Tarifas
          </div>
          
          <div class="card-body">
              <br>
              <br>


            <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th  scope="col">Concepto</th>
                          <th  scope="col">Descripción</th>
                          <th  scope="col">Regla</th>
                          <th  scope="col">Costo</th>
                          <th  scope="col">Estado</th>
                          <th  scope="col">Valor Interno</th>
                          <th  scope="col">Valor Externo</th>
                          <th  scope="col">Acciones</th>
                      </tr>
                  </thead>
                  
                  <tbody>
                      <tr *ngFor="let item of tarifas | paginate:{itemsPerPage: 5, currentPage: p}">
                          <td>{{item.nombre}}</td>
                          <td>{{item.descripcion}}</td>
                          <td>{{item.regla}}</td>
                          <td>$ {{item.costo}}</td>
                          <td *ngIf="item.estado"><span class="badge rounded-pill bg-success">ACTIVADO</span></td>
                          <td *ngIf="!item.estado"><span class="badge rounded-pill bg-danger">DESACTIVADO</span></td>
                          <td>$ {{item.valor_interno}}</td>
                          <td>$ {{item.valor_externo}}</td>
                          <td>
                            <div 
                            class="btn-group" 
                            role="group" aria-label="Button group with nested dropdown">
                           
                            <button 
                            (click)="editTarifa(item)"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top"
                            title="Editar"
                            type="button" 
                            class="btn btn-primary"
                            ><i class="fa-solid fa-pen-to-square"></i></button>
                            
                            <button 
                            (click)="deleteTarifa(item.tarifa_id)"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top"
                            title="Eliminar"
                            type="button" 
                            class="btn btn-danger"
                            ><i class="fa-solid fa-eraser"></i></button>
                          </div></td>
                      </tr>

                  </tbody>
              </table>
            <pagination-controls (pageChange)="p = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente">
           
        </pagination-controls>
              
<br>
          </div>
      </div>
  </div>