
 <div class="container-fluid px-2">
    <h1 class="mt-4">Vehiculos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a routerLink="dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Vehiculos</li>
    </ol>
  
  
  <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
         Vehiculo
      </div>

      <div class="card-body">

        <form
      id="VehiculosForm"
      [formGroup]="vehiculosForm"
      (ngSubmit)="setVehiculo()"
      autocomplete="off" >
          <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <label>Patente</label>
                <input 
                type="text" 
                name="patente"
                class="form-control" 
                placeholder="Patente"
                formControlName="patente">

            </div>
          
            <div class="form-group col-md-3 col-lg-3">
              <label>Chasis</label>
              <input 
              type="text" 
              name="chasis"
              class="form-control"
              placeholder="chasis"
              formControlName="chasis">  
             </div>

            <div class="form-group col-md-3 col-lg-3">
              <label for="inputnave">Motor</label>
              <input 
              type="text" 
              class="form-control" 
              placeholder="motor"
              formControlName="motor">
            </div>

            <div class="form-group col-md-3 col-lg-3">
              <label for="SelectFormConductor">Año</label>
              <input 
              type="number" 
              class="form-control" 
              placeholder="año de motor"
              formControlName="year">
            </div>

          </div>
         
          <div class="row">

          <div class="form-group col-md-3 col-lg-3">
            <label for="SelectFormConductor">Tipo Vehiculo</label>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Escriba el tipo de vehiculo"
            formControlName="tipo_vehiculo">
          </div>

          <div class="form-group col-md-3 col-lg-3">
            <label for="inputPuerto">Propietario</label>
            <select 
            class="form-select" 
            formControlName="propietario">
              <option value="0">Seleccione propietario</option>
            </select>
          </div>

          <div class="form-group col-md-3 col-lg-3">
            <label for="inputPuerto">Conductor</label>
            <select 
            class="form-select" 
            formControlName="conductor">
              <option value="0">Seleccione Conductor</option>
            </select>
          </div>

          <div class="form-group col-md-3 col-lg-3">
            <label for="SelectFormCliente">Imagen</label>
            <input 
            (change)="getFile($event)"
            type="file" 
            class="form-control">
          </div>

    
          
          </div>

          <div class="row">
            <div class="col-md-9 col-lg-9">

            </div>
          <div class="form-group col-md-3 col-lg-3">
            <br>
          <button *ngIf="ocultarRegistro" type="submit" class="btn btn-success" >Guardar</button>
          <div  *ngIf="ocultarEditar">
          <button  type="button" (click)="updateVehiculo()"  class="btn btn-primary" >Editar</button>
          &nbsp;
          <button  type="button" (click)="cancelEdit()" class="btn btn-danger">Cancelar</button>
          </div>
          </div>

          </div>
        </form>
        
      </div>
      
      <div class="card-body">
      
          <br>
          <br>
          <div class="list-group">

            <div *ngFor="let item of vehiculos | paginate:{itemsPerPage: 5, currentPage: p}"  class="list-group-item list-group-item-action" aria-current="true">

              <div class="card md-12" >
                <div class="row g-0">

                  <div class="col-md-4">
                    <div class="card-body">
                    <img [src]="item.imagen" class="img-fluid img-thumbnail" width="350" height="250">
                  </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card-body">
                    <h5 class="card-title">Propietario:</h5>
                    <h5 class="card-title">Conductor:</h5>

                  </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title">Tipo: {{item.tipo_vehiculo}}</h5>
                      <h5 class="card-title">Patente: {{item.patente}}</h5>
                      <h5 class="card-title">Chasis: {{item.chasis}}</h5>
                      <h5 class="card-title">Motor: {{item.motor}}</h5>
                      <h5 class="card-title">Año: {{item.year}}</h5>
                      
                      <p class="card-text">
                        <small class="text-muted">
                          <div 
                          class="btn-group" 
                          role="group" aria-label="Button group with nested dropdown">
      
                    
                          <button 
                          data-bs-toggle="tooltip" 
                          data-bs-placement="top"
                          title="Editar"
                          type="button" 
                          class="btn btn-primary btn-sm"
                          (click)="getDataVehiculo(item)"><i class="fa-solid fa-pen-to-square"></i></button>
                          
                          <button 
                          data-bs-toggle="tooltip" 
                          data-bs-placement="top"
                          title="Eliminar"
                          type="button" 
                          class="btn btn-danger btn-sm"
                          (click)="deleteVehiculo(item.vehiculo_id)"><i class="fa-solid fa-eraser"></i></button>
                        </div>

                        </small></p>
                    </div>
                  </div>


                </div>
              </div>

            </div>
           
            <br>
            <pagination-controls (pageChange)="p = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"></pagination-controls>
          </div>
        
          
      <br>
      
      </div>
      </div>
    </div>


    <div class="modal fade" id="vehiculo" tabindex="-1" aria-hidden="true" >
      <div class="modal-dialog  modal-md">
        <app-imagen-vehiculo
        [idVehiculo]="idVehiculo"
        (cerrar)="goToLoadModal($event,0)">
        </app-imagen-vehiculo>
      </div>
   </div>
        
          
